<div class="navbar">
  <img id="logo" src="/images/logo.png">
   <div class="anchor_tag">
      <a class="tag" id="MyProfile" href="/profile/<%=CurrentUser._id%>">My Profile</a>
      <a class="tag " id="SearchRecipe"  href="/profile/<%=CurrentUser._id%>/Search_Recipie">Search Recipe</a>
      <a class="tag" id="FindPeople" href="/profile/<%=CurrentUser._id%>/find_people">Find People</a>
     <a href="/logout" id="myprofile"  class="tag special">Logout</a>
     
      
   </div>
</div>
<!-- <div class="linear_background"></div> -->




